extends layout

block content
  div.mdl-grid
    div#zabytki.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Zabytki
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#lasy.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Lasy Rudzkie
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#map.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Mapa
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#ciekawostki.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Ciekawe miejsca
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#atrakcje.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Atrakcje
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#park.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Park
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz


      

block scripts
  script(src='/javascripts/index.js')