extends layout

block content
  div.mdl-grid
    div#opactwo.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Opactwo
      div.mdl-card__supporting-text
        | Opactwo w Rudach to najbardziej znany obiekt tej bla bla bla :D
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#szpitalik.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Szpitalik Rogera
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#cysters.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Dąb Cysters
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#stacja-kolei.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Stacja Kolei Wąskotorowej
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#unseren-helden.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Unseren Helden
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

    div#magdalenka.mdl-cell.mdl-cell--4-col.normal-card.mdl-card.mdl-shadow--2dp
      div.mdl-card__title
        h2.mdl-card__title-text Magdalenka
      div.mdl-card__supporting-text
        | A niechaj narodowie wżdy postronni znają iż polacy nie gęsi iż swój język mają.
      div.mdl-card__actions.mdl-card--border
        button.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect Zobacz

block scripts
  script(src='/javascripts/zabytki.js')